name: Turnip Build

on:
  workflow_dispatch: # Isso cria o botão manual
  schedule:
    - cron: '0 */12 * * *' # Roda automaticamente a cada 12h

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v3

      - name: Instalar Dependências
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build patchelf unzip flex bison git perl python3-pip glslang-tools
          pip3 install --upgrade meson mako

      - name: Tornar o Script Executável
        run: chmod +x turnip_builder.sh

      - name: Compilar Driver
        run: ./turnip_builder.sh

      - name: Upload do Driver (Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: driver-turnip
          path: turnip_workdir/*.zip
