name: Turnip A8xx Builder

on:
  workflow_dispatch:
    inputs:
      build_id:
        description: 'Tag (Ex: v1)'
        required: true
        default: 'v1'

jobs:
  build:
    name: Build ${{ inputs.build_id }}
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          # Instalamos dependências de sistema
          sudo apt-get install -y build-essential flex bison glslang-tools python3-pip ninja-build pkg-config unzip curl git
          
          # AQUI ESTÁ A CORREÇÃO DO ERRO 1.3.2:
          # Forçamos a instalação do Meson mais novo via Python
          sudo pip3 install --upgrade meson mako --break-system-packages

      - name: Run Builder
        run: |
          chmod +x build_driver.sh
          ./build_driver.sh "${{ inputs.build_id }}"

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Turnip-A8xx-${{ inputs.build_id }}
          path: out/*.zip

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ inputs.build_id }}
          name: Turnip A8xx ${{ inputs.build_id }}
          files: out/*.zip
          body: |
            **Automated Build**
            - **Source:** Whitebelyash (gen8-hacks)
            - **Fixes:** Libbacktrace disabled (Switch Fix)
            - **NDK:** r29
